{% extends "OpenClassroomsCoursePlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block body %}

    <h2>Showing all advertisements!</h2>

    <ul style="list-style: none;">
        {% for ad in ads %}
            <li>
                <a href="{{ path('openclassroomscourse_platform_view', {'id': ad.id}) }}"><img
                         src="{{ ad.image.lowResolutionUrl }}"
                         alt="{{ ad.image.alt }}" title="{{ ad.image.title }}"
                         style="width:127px; height: 72px; border: 0;"></a>
                &emsp;
                <a href="{{ path('openclassroomscourse_platform_view', {'id': ad.id}) }}">
                    {{ ad.title }}
                </a>
                by {{ ad.author.firstName ~ ' ' ~ ad.author.lastName }},
                on {{ ad.createdAt|date('d/m/Y') }}
            </li>
            <li>
                <hr>
            </li>
        {% else %}
            <li>No ads posted (yet!)</li>
        {% endfor %}
    </ul>

{% endblock %}