{% extends "OpenClassroomsCoursePlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block body %}

    <h2>Showing all advertisements!</h2>

    <ul>
        {% for advert in adverts %}
            <li>
                <a href="{{ path('openclassroomscourse_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>No adverts posted (yet!)</li>
        {% endfor %}
    </ul>

{% endblock %}