{% extends "OpenClassroomsCoursePlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ author }}'s advertisements from {{ year }}{% endblock %}

{% block body %}
    <h1>Showing {{ author }}'s advertisements from {{ year }}!</h1>
{% endblock %}

