{% extends "OpenClassroomsCoursePlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ ad.title|title }}{% endblock %}

{% block main_body %}

    <h2>{{ ad.title|title }}</h2>
    <i>By {{ ad.author.firstName ~ ' ' ~ ad.author.lastName }}, on {{ ad.createdAt|date('d/m/Y') }}; last update on {{ ad.updatedAt|date('d/m/Y') }}.</i>

    <hr>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="{{ ad.image.highResolutionUrl }}" title="{{ ad.image.title }}" alt="{{ ad.image.alt }}" style="width: 100%;">
        </div>
        <div class="col-md-6 col-sm-12">
            {{ ad.content }}
        </div>
    </div>

    <hr style="border-width:3px; margin: 10px 0; border-color: #373737">

    <div class="row">
        <div class="col-lg-12">
            <p>
                <a href="{{ path('openclassroomscourse_platform_index') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Back to the listing
                </a>
                <a href="{{ path('openclassroomscourse_platform_edit', {'id': ad.id}) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-edit"></i>
                    Edit the ad
                </a>
                <a href="{{ path('openclassroomscourse_platform_delete', {'id': ad.id}) }}" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                    Remove the ad
                </a>
            </p>
        </div>
    </div>

{% endblock %}