{% extends "OpenClassroomsCoursePlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ ad.title|title }}{% endblock %}

{% block main_body %}

    <h2>{{ ad.title|title }}</h2>
    <i>By {{ ad.author }}, on {{ ad.createdAt|date('d/m/Y') }}; last update on {{ ad.updatedAt|date('d/m/Y') }}.</i>

    <div class="well">
        {{ ad.content }}
    </div>

    <p>
        <a href="{{ path('openclassroomscourse_platform_index') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back to the listing
        </a>
        <a href="{{ path('openclassroomscourse_platform_edit', {'id': ad.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Edit the ad
        </a>
        <a href="{{ path('openclassroomscourse_platform_delete', {'id': ad.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Remove the ad
        </a>
    </p>

{% endblock %}